parameters:

    paths:
        - .

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
    #    - '無視するエラー'

    excludePaths:
        - vendor

    checkMissingIterableValueType: false
